.footer{
  width: 100%;
  height: 300px;
  padding: 80px 0 0; 
  background-color: #05215C;
  color: $SUB_COLOR_WHITE;
  @include media-sp{
    height: auto;
    padding: 20px 0;
  }

  &__container{
    display: flex;
    justify-content: space-between;
    @include media-sp{
      flex-direction: column-reverse;
    }
  }

  &__head{
    @include media-sp{
      margin: 40px 0 0 0;
    }
  }

  &__nav{
    @include media-sp{
      padding: 0 20px;
    }
  }

  &__navItems{
    display: flex;
    justify-content: space-between;
    @include media-sp{
      display: block;
    }
  }

  &__navItem{
    margin: 0 0 0 60px;
    @include media-sp{
      margin: 20px 0 0 0;
    }
  }

  &__link{
    font-size: 1.4rem;
    font-weight: bold;
    color: $SUB_COLOR_WHITE;
  }

  &__subItems{
      @include media-sp{
        padding: 0 20px;
      }
  }

  &__subItem{
    margin: 25px 0 0 0;
  }

  &__subLink{
    font-size: 1.4rem;
    color: $SUB_COLOR_WHITE;
  }
}

.copyright{
  margin: 96px 0 0 0 ; 
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  @include media-sp{
    margin: 20px 0 0 0;
  }
}