.header{
  width: 100vw;
  height: 80px;
  background-color: $SUB_COLOR_WHITE;
  border-bottom: 1px solid $MAIN_COLOR;

  &__container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  }

  &__logo{

  }

  &__nav{
  display: flex ;

  }

  &__navItems{
  display: flex;
  }

  &__navItem{
    margin: 0 40px 0 0 ;
  }

  &__navLink{
    position: relative;
    padding: 10px 0;
    line-height: 60px;
    font-size: 1.4rem;
    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $MAIN_COLOR;
      border-radius: 1px;
      transition: all 0.5s;
    }
  }

  &__contact{
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    background-color: $MAIN_COLOR;
    border: 1px solid $MAIN_COLOR;
    border-radius: 5px;
    color: $SUB_COLOR_WHITE;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.5s;
    &:hover{
      background-color: $SUB_COLOR_WHITE;
      color: $MAIN_COLOR;
      transition: all 0.5s;
    }
  }

  &__subNav{
    position: absolute;
    left: 50%;
    bottom: -250px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 90%;
    height: 250px;
    padding: 0 40px;
    background-color: $SUB_COLOR_WHITE;
    border: 1px solid $MAIN_COLOR;
    border-top: none;
    z-index: $index_1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  &__subNavitem{
    max-width: 250px;
    margin: 0 0 0 20px; 
    border: 1px solid black;
    &:first-child{
      margin: 0; 
    }
  }

  &__subNavimg{
    
    @include IMG{};
  }

  &__subNavcnt{
    padding: 10px;
    font-size: 1.4rem;
    text-decoration: none;
  }
}

.has-child{
  &::after{
    content: "";
    position: absolute;
    top: 45%;
    right: -15px;
    width: 5px;
    height: 5px;
    transform: translateY(-50%) rotate(135deg);
    border-top: 2px solid $FONT_COLOR;
    border-right: 2px solid $FONT_COLOR;
    transition: all 0.5s;
  }
}

.is-active{
  &::before{
    width: 100%;
    transition: all 0.5s;
  }

  &::after{
    transform: rotate(-45deg);
    transition: all 0.5s;
  }
}

.nav-is-active{
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}
