/**
* @file _config.scss
**/

// フォントサイズ
$DEFAULT_FONT_SIZE: 62.5%;

// カラー
$MAIN_COLOR:#0065b2;
$SUB_COLOR_GRAY:#e5eaeb;
$SUB_COLOR_WHITE:#fdfdfb;
$FONT_COLOR:#05215c;

// フォント
$DEFAULT_FONT_FAMILY: 'Roboto', sans-serif;

// コンテンツ幅
$content-width: 1120px;

// メディアクエリ
$media-tab-pro: 1024px;
$media-tab: 768px;
$media-sp: 599px;

// z-index
$index_1:10;
$index_:20;
$index_3:30;
$index_4:40;
$index_max:999;
