.archive{
	*:disabled{
		background: $MAIN_COLOR;
		color: $SUB_COLOR_WHITE;
	}
	.news{
		padding: 40px 0;

		&__content{
			max-width: 960px;
			margin: 0 auto; 
		}

		&__category{
			display: flex;
			align-items: center;
			width: 100%;
			line-height: 60px;
			margin-top: 40px;
			border-top: 2px solid #ccc;
			border-bottom: 2px solid #ccc;


		}

		.category{
			&__ttl{
				font-size: 1.6rem;
				font-weight: bold;
			}

			&__lists{
				display: flex;
				align-items: center;
				margin-left: 150px;
				@include media-sp{
					margin-left: 50px;
					flex-direction: column;
				}
			}

			&__list{
				display: flex;
				align-items: center;
				&:not(:first-of-type){
					margin-left: 200px;
					@include media-sp{
						margin-left: 0px;
					}
				}
				@include media-sp{
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}

			&__check{
				position: relative;
				width: 20px;
				height: 20px;
				vertical-align: middle;

				&:checked::before{
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					width: 100%;
					height: 100%;
					border-radius: 3px;
					background: $MAIN_COLOR;
					color: $SUB_COLOR_WHITE;
				}
				&:checked::after{
					position: absolute;
					top: 45%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%) rotate(-45deg);
					content: "";
					width: 8px;
					height: 5px;
					border-left: 3px solid $SUB_COLOR_WHITE;
					border-bottom: 3px solid $SUB_COLOR_WHITE;
				}

				@include media-sp{
					
				}
			}

			&__label{
				position: relative;
				font-size: 1.6rem;
				margin-left: 9px;
			}

			&__link{
				position: absolute;
				left: -30px;
				padding-left: 30px;
				white-space: nowrap;
				transform: translateY(-50%);
			}
		}

		&__article{
			display: flex;
			align-items: center;
			width: 100%;
			padding: 20px 0;
			border-top: 1px solid $SUB_COLOR_GRAY;
			border-bottom: 1px solid $SUB_COLOR_GRAY;
			&:nth-of-type(2){
				margin-top: 40px;
			}
			@include media-sp{
				display: block;
			}

			&--date{
				max-width: 130px;
				width: 15%;
				font-size: 1.8rem;
				font-weight: bold;
				@include media-sp{
					display: inline-block;
					width: 30%;
					font-size: 1.4rem;
				}
			}

			&--category{
				max-width: 130px;
				width: 15%;
				margin: 0 0 0 20px;
				padding: 7px 10px;
				background-color: $SUB_COLOR_GRAY;
				font-size: 1.2rem;
				text-align: center;
				@include media-sp{
					display: inline-block;
					max-width: 100px;
					width: 30%;
					margin: 0; 
					padding: 5px 8px;
				}
			}

			&--ttl{
				display: block;
				max-width: calc(1140px - 260px);
				width: 70%;
				margin: 0 0 0 40px;
				font-size: 1.6rem;
				font-weight: bold;
				color: $MAIN_COLOR;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				@include media-sp{
					width: 100%;
					margin: 10px 0 0 0; 
					font-size: 1.4rem;
				}
			}
		}

		.wp-pagenavi{
			display: flex;
			justify-content: center;
			margin-top: 80px;
			text-align: center;
			a ,span{
				display: block;
				width: 50px;
				height: 50px;
				line-height: 50px;
				padding: 0;
				border-radius: 4px;
				font-size: 1.6rem;
				color: $MAIN_COLOR;
			}

			.previouspostslink{
				margin-right: 40px;
			}

			.nextpostslink{
				margin-left: 40px;
			}
			
			.current{
				background: $MAIN_COLOR;
				color: $SUB_COLOR_WHITE;
				border: none;
			}
		}
	}
}