

.works{
  padding: 40px 0;
  
  &__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 60px 0 ;
    @include MEDIA_SP{
      padding: 40px 0 ;
    }
  }

  &__card{
    max-width: 450px;
    width: calc((100% - 120px) / 2);
    &:nth-child(n+3){
      margin: 80px 0 0 0;
    }
    @include MEDIA_SP{
      width: 100%;
      margin: 0 auto; 
      &:nth-child(n+2){
        margin: 40px auto 0;
      }
    }
  }

  &__cardImg{
    max-width: 450px;
    height: 400px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__tbl{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 20px;
  }

  &__tblTtl{
    width: 30%;
    font-size: 1.4rem;
    vertical-align: middle;
  }

  &__tblCnt{
    width: 70%;
    font-size: 1.4rem;
    vertical-align: middle;
  }
}