html ,body{
  font-size: $DEFAULT_FONT_SIZE;
  font-family:$DEFAULT_FONT_FAMILY;
  color: $FONT_COLOR;
}

a{
  color: $FONT_COLOR;
}

input[type="radio"]{
	display: none;
}

// br------------------------------
.br-pc{
  display: block;
  @include media-sp{
    display: none;
  }
}

.br-tab{
  display: none;
  @include media-tab{
    display: block;
  }
}

.br-sp{
  display: none;
  @include media-sp{
    display: block;
  }
}
// br------------------------------

// inner------------------------------
.h-inner{
  max-width: 1280px;
  width: 95%;
  margin: 0 auto; 
}

.inner{
  max-width: 1140px;
  width: 90%;
  margin: 0 auto; 
}
// inner------------------------------

// button------------------------------
.button{
  position: relative;
  display: block;
  max-width: 340px;
  height: 70px;
  line-height: 70px;
  margin: 80px auto 0; 
  border: 1px solid $MAIN_COLOR;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: $MAIN_COLOR;
  text-align: center;
  transition: all 0.5s;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 120%;
    height: 100%;
    background: $MAIN_COLOR;
    transform-origin: right top;
    transform: skewX(-30deg) scale(0, 1);
    transition: transform .5s;
  }

  &::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    border-top: 3px solid $MAIN_COLOR;
    border-right: 3px solid $MAIN_COLOR;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.5s;
  }

  &:hover{
    border: 1px solid $SUB_COLOR_WHITE;
    color: $SUB_COLOR_WHITE;
    transition: all 0.5s;
  }

  &:hover::before {
    transform-origin: left top;
    transform: skewX(-30deg) scale(1, 1);
  }

  &:hover::after{
    border-top: 3px solid $SUB_COLOR_WHITE;
    border-right: 3px solid $SUB_COLOR_WHITE;
    transition: all 0.5s;
  }
}
// button------------------------------

// section head------------------------------
.section{

  &__enTtl{
    font-size: 2.5rem;
    color: $MAIN_COLOR;

		@include media-sp{
			font-size: 2rem;
		}
  }

  &__ttl{
    font-size: 3.5rem;
		font-weight: normal;

		@include media-sp{
			font-size: 3rem;
		}
  }

  &__txt{
    max-width: 855px;
    width: 80%;
    line-height: calc(30/14);
    margin-top: 24px;
    font-size: 1.4rem;

		@include media-sp{
			width: 100%;
			margin-top: 12px;
		}
  }
}
// section head------------------------------

// contact------------------------------
.contact{
  padding: 40px 0; 
  background-color: $SUB_COLOR_GRAY;

  &__enTtl, &__ttl{
    text-align: center;
  }
  &__content{
    margin: 20px 0 0 0; 
  }

  &__txt{
    font-size: 1.4rem;
    text-align: center;
  }

  &__button{
    max-width: 570px;
    margin: 20px auto 0;
    background-color: $MAIN_COLOR;
    border: 1px solid $SUB_COLOR_WHITE;
    color: $SUB_COLOR_WHITE;
    &::after{
      border-top: 3px solid $SUB_COLOR_WHITE;
      border-right: 3px solid $SUB_COLOR_WHITE;
    }

    &:hover{
      background-color: $SUB_COLOR_WHITE;
      border: 1px solid $MAIN_COLOR;
      color: $MAIN_COLOR;
    }
    &:hover::after{
      border-top: 3px solid $MAIN_COLOR;
      border-right: 3px solid $MAIN_COLOR;
    }
  }
}
// contact------------------------------

// topic path----------------------
.topicPath{
  display: flex;
  align-items: center;
  margin: 20px auto 0;

  &__item{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 20px;
    padding: 5px 10px;
    font-size: 1.4rem;

    &::after{
      content: "";
      position: absolute;
      top: 48%;
      right: 0;
      transform: translateY(-50%) rotate(45deg);
      width: 5px;
      height: 5px;
      border-top: 1px solid $MAIN_COLOR;
      border-right: 1px solid $MAIN_COLOR;
    }
    &:first-child{
      padding: 5px 10px 5px 0;
    }
    &:last-child::after{
      display: none;
    }
  }

  &__link{
    text-decoration: underline;
  }

}
// topic path----------------------


// kv----------------------
.kv{
  position: relative;
  width: 100vw;
  padding: 80px 0 0 0;
  
  &__img{
    width: 100%;
    height: 300px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0% 60%;
    }
  }

  &__filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $MAIN_COLOR;
    opacity: .6;
  }

  &__enTtl{
    position: absolute;
    top: 30%;
    width: 100%;
    font-size: 13rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5rem;
    opacity: .4;
    @include media-sp{
      top: 38%;
      font-size: 8rem;
    }
  }

  &__ttl{
    position: absolute;
    top: 55%;
    width: 100%;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: $SUB_COLOR_WHITE;
    letter-spacing: 0.5rem;
    @include media-sp{
      font-size: 4rem;
    }
  }
}
// kv----------------------

// 最大幅より小さくなった場合の両端に余白を作る
.content-width {
  max-width: $content-width;
  margin: auto;
}

// 画面横の余白を作成
.content-padding {
  padding: 0 35px;

  @include media-tab {
    padding: 0 30px;
  }
}

//下からのフェードイン
.fade-in-bottom {
	transition: 1s;
	opacity: 0;
	transform: translateY(100px);
}