.index{
	// fv------------------------------
	.fv{
		position: relative;
		width: 100vw;
		height: 600px;
		padding: 80px 0 0 0;

		&__item{
			width: 100vw;
			height: 600px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__box{
			position: absolute;
			top: 80%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 1000px;
			padding: 30px 40px;
			background-color: rgba(253, 253, 251,.7);
			border: 1px solid $MAIN_COLOR;

			@include media-tab{
				top: 70%;
				width: 95%;
				padding: 10px 0;
			}
		}

		&__ttl{
			font-size: 4rem;
			color: $MAIN_COLOR;
			text-align: center;
			text-shadow: 0 3px 6px rgba(0, 0, 0,.16);
			@include media-tab{
				font-size: 4vw;
			}
			@include media-sp{
				font-size: 7vw;
			}
		}

		&__enTtl{
			font-size: 3rem;
			color:$FONT_COLOR;
			text-align: center;
			letter-spacing: 0.1rem;
			@include media-tab{
				font-size: 4vw;
			}
			@include media-sp{
				font-size: 5vw;
			}
		}
	}
	// fv------------------------------

	// works------------------------------
	.works{
		padding: 120px 0 40px; 

		&__content{
			margin: 40px 0 0 0; 
		}

		&__cards{
			display: flex;
			justify-content: space-between;

			@include media-sp{
				display: block;
			}
		}

		&__card{
			display: block;
			width: calc((100% - 60px ) / 3 );
			padding: 20px;
			border: 1px solid $SUB_COLOR_GRAY;
			box-shadow: 20px 20px 10px rgba(0,101,178,.16);
			transition: all 0.5s;
			&:hover{
				border: 1px solid $MAIN_COLOR;
				transition: all 0.5s;
			}

			@include media-sp{
				width: 100%;
				box-shadow: none;
				margin: 20px 0 0 0;
				padding: 20px auto;
				&:first-child{
					margin: 0; 
				}
			}

		}

		&__cardImg{
			max-width: 320px; 
			height: 180px;
			@include IMG{
				display: block;
				height: 100%;
				margin: 0 auto; 
				object-fit: cover;
			}
			@include media-sp{
				margin: 0 auto; 
			}
		}

		&__cardTxt{
			margin: 20px 0 0 0;
		}

		&__tbl{
			width: 100%;
			border-collapse: separate;
			border-spacing: 0px 20px;
		}

		&__tblTtl{
			width: 30%;
			font-size: 1.4rem;
			vertical-align: middle;
		}

		&__tblCnt{
			width: 70%;
			font-size: 1.4rem;
			vertical-align: middle;
		}

	}
	// works------------------------------

	// service------------------------------
	.service{
		padding: 40px 0 ; 

		&__content{
			margin: 40px 0 0 0; 
		}

		&__card{
			display: flex;
			width: 100%;
			margin:64px 0 0 0;
			padding: 40px;
			border: 1px solid $MAIN_COLOR;
			border-radius: 5px;
			&:first-child{
				margin: 0 0 0 0;
			}
			@include media-sp{
				flex-direction: column-reverse;
				padding: 20px 10px;
			}
		}

		&__cardCnt{
			max-width: 670px;
		}

		&__cardTtl{
			font-size: 2.5rem;
			@include media-sp{
				margin: 20px 0 0 0 ;
			}
		}

		&__cardTxt{
			line-height: calc(30/14);
			margin: 40px 0 0 0; 
			font-size: 1.4rem;
			@include media-sp{
				margin: 20px 0 0 0 ;
			}
		}

		&__cardImg{
			max-width: 350px; 
			margin: 0 0 0 40px; 
			@include IMG{};
			@include media-sp{
				margin: 0 auto;
			}
		}
	}
		// service------------------------------

		// about------------------------------
	.about{
		padding: 40px 0 ; 

		&__content{
			margin: 40px 0 0 0; 
		}

		&__cards{
			display: flex;
			justify-content: space-between;
			@include media-sp{
				display: block;
			}
		}

		&__card{
			width: calc((100% - 60px ) / 3 );
			padding: 20px 20px 40px 20px;
			border: 1px solid $MAIN_COLOR;
			border-radius: 5px;
			@include media-sp{
				width: 100%;
				margin: 40px 0 0 0;
				&:first-child{
					margin: 0;
				}
			}
		}

		&__cardImg{
			width: 100px;
			height: 100px;
			margin: 0 auto; 
			@include IMG{};
		}

		&__cardTtl{
			font-size: 2rem;
			color: $MAIN_COLOR;
			text-align: center;
		}

		&__cardTxt{
			line-height: calc(30/14);
			margin: 20px 0 0 0;
			font-size: 1.4rem;
			
		}
	}
		// about------------------------------

			// news------------------------------
	.news{
		padding: 40px 0 ; 

		&__content{
			margin: 40px 0 0 0; 
		}
		&__article{
			display: flex;
			align-items: center;
			width: 100%;
			padding: 20px 0;
			border-top: 1px solid $SUB_COLOR_GRAY;
			border-bottom: 1px solid $SUB_COLOR_GRAY;
			@include media-sp{
				display: block;
			}

			&--date{
				max-width: 130px;
				width: 15%;
				font-size: 1.8rem;
				font-weight: bold;
				@include media-sp{
					display: inline-block;
					width: 30%;
					font-size: 1.4rem;
				}
			}

			&--category{
				max-width: 130px;
				width: 15%;
				margin: 0 0 0 20px;
				padding: 7px 10px;
				background-color: $SUB_COLOR_GRAY;
				font-size: 1.2rem;
				text-align: center;
				@include media-sp{
					display: inline-block;
					max-width: 100px;
					width: 30%;
					margin: 0; 
					padding: 5px 8px;
				}
			}

			&--ttl{
				display: block;
				max-width: calc(1140px - 260px);
				width: 70%;
				margin: 0 0 0 40px;
				font-size: 1.6rem;
				font-weight: bold;
				color: $MAIN_COLOR;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				@include media-sp{
					width: 100%;
					margin: 10px 0 0 0; 
					font-size: 1.4rem;
				}
			}
		}
	}
		// news------------------------------
}

